h1 {color: blue; text-align: center; font-size: arial;}
h2 {color: blue; text-align: center; font-size: arial;}
h3 {color: blue; text-align: center; font-size: arial;}
p {color: blue; text-align: center; font-size: arial;}